html {
    scroll-behavior: smooth;
    font-family: Arial, serif;
}

body{
    margin: 0;
    padding: 0;
    z-index: auto;

}

.centerItems{
    display: flex;
    align-items: center;
    justify-content: center;
}

.greenText{
    color: #004000;
    font-style: italic;
}

.redText{
    color: #950000;
    font-style: italic;
}

.container {
}

/*http://www.autogeschiedenis.nl/images/auto-dealer.jpg */
.middle{
    position: absolute;
    top: 7%;
    left: 84%;
    transform: translate(-50%,-50%);
}
.welkom {
    margin-top: 150px;
    color: #ff8a8a;
    margin-right: 1025px;
    font-size: 30px;
    white-space: nowrap;
}

.webshop {
    color: #FFA5A5;
    margin-top: 320px;
    font-size: 30px;
}

.ondertext {
    margin-left: 50px;
    padding: 0;
    font-size: xx-large;
    color: #FFA5A5;
}

.middle {
    display: flex; /* knoppen staan naast elkaar */
}
.btn{
    position: relative;
    display: table;
    vertical-align: center;
    color: black;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    margin: 9px 10px;
    border: 3px solid #FFBDBD;
    padding: 10px 50px;
    overflow: hidden;
}

.btn a {
    vertical-align: center;
}
#luckycat {
    float: right;
    margin-top: -18%;
    margin-right: 280px;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

.btn::before{
    background: #FFBDBD;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn1::before{
    width: 0;
    height: 100%;
}

.btn1:hover::before{
    width: 100%;
}


.btn2::before{
    width: 100%;
    height: 0;
/*free koevoet */
}
.btn2:hover::before{
    height: 100%;
}

.btn3::before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(45deg);
}
.btn3:hover::before{
    height: 380%;
}

.btn4::before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.btn4:hover::before{
    height: 380%;
}

.footer-dark {
    float: left;
    width: 100%;
    height: 5%;
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;

}

.nav-bar{
    background-color: #FFA5A5;
    margin-top: -23px;
    width: 100%;

}

.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}

.footer-dark ul a:hover {
    opacity:0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

.footer-dark .item.text {
    margin-bottom:36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom:0;
    }
}

.footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

.footer-dark .item.social {
    text-align:center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align:center;
        margin-top:20px;
    }
}

.footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
}

.footer-dark .item.social > a:hover {
    opacity:0.9;
}
.row9 {
    text-align: center;
   white-space: unset;

}

.footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: floralwhite;
    transform: scale(0.8);

}
.container1 {
    display: flex;
}
.container2 {
    display: flex;
    margin-top: 45px;
}
.price {
    color: grey;
    font-size: 22px;

}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.container3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 600px;
    width: 80%;
    background-color: white;
    margin: auto;
    color: #FFA5A5;
    font-size: 20px;
}
#ons {
    margin-right: 20px;
    float: right;
    margin-top: -120px;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.info {
    color: black;
    margin-left: 25px;
}

#veeg {
    width: 1800px;
    height: 200px;
    font-size: 2px;
    filter: sepia(0%) saturate(10000%) hue-rotate(230deg);
}
.container4 {
    height: 700px;
    width: 80%;
    background-color: white;
    margin: auto;
    border: 2px solid #FFA5A5;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1%;
    white-space: nowrap;
}
.welkom2 {
    color: #FFA5A5;
    font-size: 30px;
    margin-right: 1100px;
    margin-top: 10px;
    white-space: nowrap;
}
.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #FFA5A5;
    background-color: floralwhite;
    margin-left: 30px;
    display: block;
    margin-top: -40rem;
    position: absolute;
}
.informatie {
    height: 570px;
    width: 60%;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #FFA5A5;
    text-align: center;
    font-size: 20px;
}


/*Betaalformulier*/
#formTable{
    float: left;
    width: 100%;
    height: fit-content;
    table-layout: fixed;

}

#formTable td{

}
tr {
    text-align: center;
}

#formTable input{
    height: fit-content;
    width: 60%;
    font-size: 1vw;
}

#formTable label{
    height: fit-content;
    width: 60%;
    padding-left: 20px;
    font-size: 1vw;
    font-weight: bold;
    /*border-left: 5px solid black;*/
}

.betaal {
    width: 60%;
    height: 70rem;
    background-color: #FFA5A5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.bestelbtn{
    float: left;
    width: 50%;
    margin-left: 300px;
    margin-top: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #ff8a8a;
    border-radius: 5px;
    font-size: large;
    color: #ff8a8a;
}

.bestelbtn:hover{
    /*margin-left: 420px;*/
    /*margin-top: 15px;*/
    border-style: solid;
    border-width: 2px;
    border-color: #ff8a8a;
    border-radius: 5px;
    background-color: #ff8a8a;
    color: white;
}

/*Paypal button*/
#paypalImg{
    /*float: left;*/
    transform: scale(0.25);
    margin-top: -150px;
    white-space: unset;
}

#paypalImg:hover{
    cursor: pointer;
    filter: brightness(125%);
}

form input {
    width: 100%;
}


#bestelStatus{
    float: left;
    width: 100%;
    height: 5%;
    margin-top: 1.5%;
    text-align: center;
    font-size: 1vw;
    /*border: 1px solid red;*/
}


u {
    color: #FFA5A5;
}
.container5{
    display: flex;
}
.container5 button {
    margin-left: 1000px;
    margin-top: 650px;
}
span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    margin-top: 37em;
    margin-left: 59em;
}
span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;

}
span a:before,
span a:after{
    position: absolute;
    content: "Koop";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #FFBDBD;
    box-sizing: border-box;
    border-radius: 5px;
}

span a:before{
    color: #fff;
    background: #FFA5A5;
    transform: rotateY(0deg) translateZ(25px);
}

span a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}

span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
}

.producttitel {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10rem;
    padding: 0;
}
.producttitel b {
    color:  #FFA5A5;
}

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background:  linear-gradient(0deg, rgba(238 , 0 , 238,1) 0%, rgba(255, 99, 71 ,1) 100%);
}

html::-webkit-scrollbar-thumb {
    background: transparent;
    box-shadow: 0 0 0 100vh darkgrey;
}

#anders {
    text-align: center;
}

@media (max-width: 463px){
    .welkom{
        font-size: 13px;
        margin-left: 47px;
    }
    .btn{
        padding: 25px 25px;
    }
    .btn b{
        display: none;
    }
    .btn1{
        background: url("https://png.pngtree.com/png-vector/20190223/ourlarge/pngtree-vector-house-icon-png-image_695726.jpg");
        background-size: 50px 50px;
    }
    .btn2{
        background: url("https://www.nicepng.com/png/detail/253-2534370_png-file-shopping-cart-line-icon.png");
        background-size: 50px 50px;
    }
    .btn3{
        background: url("https://www.nicepng.com/png/detail/903-9033759_questions-black-spinning-question-mark.png");
        background-size: 50px 50px;
    }
    .middle{
        padding-right: 100px;
    }
    #luckycat{
        float: left;
        height: 400px;
        width: 450px;
        margin-top: 20px;
    }
    #veeg{
        width:400px;
    }
    .ondertext{
        font-size: 16px;
    }
}

* {
    box-sizing: border-box;
}
#onscat{
   margin-left: 300px;
    margin-bottom:  500px;
}
.row8 {
    transform: scale(0.8);

}

/* Style the container/contact section */
.container {
    border-radius: 50px;
    background-color: floralwhite;
    padding: 10px;
  border-style: solid;
    border-color: #FFA5A5;
    height: 850px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row8:after {
    content: "";
    display: table;
    clear: both;
}
.container h2 {
color: #FFA5A5;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    #onscat {
        margin-left: 30px;
        transform: scale(0.8);
    }
}
